@mixin button-base {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: $transition;
  border-radius: $b-radius;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text-button {
  color: var(--color);
  background-color: transparent;
  @include button-base();

  &:hover,
  &:focus {
    background-color: var(--color-light);
  }

  &:active {
    box-shadow: 0px 1px 3px color("shadow");
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-light);
    &:hover {
      color: white;
    }
  }
}

.filled-button {
  color: white;
  background-color: var(--color);
  @include button-base();

  &:hover,
  &:focus {
    color: var(--color);
    background-color: var(--color-light);
  }

  &:active {
    box-shadow: 0px 1px 3px color("shadow");
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-light);

    &:hover {
      color: white;
    }
  }
}
