.title {
  font-size: 1.5em;
  font-weight: bold;
}

.container {
  margin: 0 auto;
}

.surface {
  border-radius: $b-radius;
  background-color: white;
}

@for $i from 0 through 4 {
  .elevation-#{$i} {
    box-shadow: 0px $i * 1px ($i + 1) * 1px color("shadow");
  }
}

.full-vh {
  min-height: 100vh;
}

.primary {
  --color: #{color("primary")};
  --color-light: #{color("primary-light")};
}
.secondary {
  --color: #{color("secondary")};
  --color-light: #{color("secondary-light")};
}
.error {
  --color: #{color("error")};
  --color-light: #{color("error-light")};
}
.warning {
  --color: #{color("warning")};
  --color-light: #{color("warning-light")};
}
.info {
  --color: #{color("info")};
  --color-light: #{color("info-light")};
}
.success {
  --color: #{color("success")};
  --color-light: #{color("success-light")};
}

.side-bar {
  min-height: 100%;
  display: flex;
  align-items: stretch;
  background-color: white;
  box-shadow: 0px 2px 4px color("shadow");
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 0.8rem;
}

.text-gray {
  color: gray;
}
