.text-field {
  $this: &;
  position: relative;
  display: flex;
  align-items: center;

  &--outlined {
    border: 1px solid gray;
    border-radius: $b-radius;
  }

  &--underlined {
    border-bottom: 1px solid gray;
  }

  &:hover {
    border-color: black;
  }

  &--active {
    border-color: color("primary") !important;
  }

  &--error {
    border-color: color("error") !important;
  }

  &__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    transition: $transition;
    pointer-events: none;

    #{$this}--outlined & {
      left: 1rem;
      padding: 0 1px;
    }

    #{$this}--has-text & {
      top: 0px;
      transform: translateY(-60%);
      font-size: 0.8rem;
      font-weight: bold;
    }

    #{$this}--active & {
      color: color("primary");
    }

    #{$this}--error & {
      color: color("error");
    }
  }

  &__input {
    all: unset;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;

    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }

    #{$this}--outlined & {
      padding: 1rem;
    }

    #{$this}--underlined & {
      padding: 0.5rem 0;
    }
  }

  &__icon {
    cursor: pointer;
    display: inline-block;

    padding: 0 1rem;

    #{$this}--active & {
      color: color("primary");
    }

    #{$this}--error & {
      color: color("error");
    }
  }
}
